@model System.String

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head class="lead">
    <h1>Welcome, @Model!</h1>
</head>
<body>
<script>
    window.setTimeout(function() {
            window.location.href = 'entrance';
        },
        2000);
</script>
</body>
</html>