@using Store.Models.Program
@using Store.Services

@model Store.Models.Home.PagedContentViewModel<Domain.Entities.Program>

@{
    ViewBag.Title = "Programs";
}

@foreach (var p in Model.PageContent)
{
    @Html.Partial("ProgramSummary", new ProgramSummary
    {
        Program = p
    })
}

<div class="btn-group pull-right">
    @Html.FormPageLinks(Model.PagingInfo, x => Url.Action("ShowAllPrograms", new {page = x}))
</div>

<script>
    $(function () {
        $("select").each(function () {
            $(this).find("option").first().attr('selected','selected');
        });
    })
</script>
