<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="RobotsDBEntities" connectionString="metadata=res://*/DB.RobotData.csdl|res://*/DB.RobotData.ssdl|res://*/DB.RobotData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:w0bs9aso16.database.windows.net,1433;initial catalog=RobotsDB;integrated security=False;user id=vlad@w0bs9aso16;password=djkoolherc1A;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>