<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="RobotsDBEntities" connectionString="metadata=res://*/DB.RobotData.csdl|res://*/DB.RobotData.ssdl|res://*/DB.RobotData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:w0bs9aso16.database.windows.net,1433;initial catalog=RobotsDB;integrated security=False;user id=vlad@w0bs9aso16;password=djkoolherc1A;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RobotsDBEntities1" connectionString="metadata=res://*/DB.RobotData.csdl|res://*/DB.RobotData.ssdl|res://*/DB.RobotData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:w0bs9aso16.database.windows.net,1433;initial catalog=RobotsDB;integrated security=False;user id=vlad@w0bs9aso16;password=djkoolherc1A;multipleactiveresultsets=True;connect timeout=30;encrypt=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RDBEntities" connectionString="metadata=res://*/DB.RobotData.csdl|res://*/DB.RobotData.ssdl|res://*/DB.RobotData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:w0bs9aso16.database.windows.net,1433;initial catalog=RDB;integrated security=False;user id=vlad@w0bs9aso16;multipleactiveresultsets=True;connect timeout=30;encrypt=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RDBEntities1" connectionString="metadata=res://*/DB.RobotData.csdl|res://*/DB.RobotData.ssdl|res://*/DB.RobotData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:w0bs9aso16.database.windows.net,1433;initial catalog=RDB;integrated security=False;user id=vlad@w0bs9aso16;password=djkoolherc1A;multipleactiveresultsets=True;connect timeout=30;encrypt=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RDBEntities2" connectionString="metadata=res://*/DB.RobotData.csdl|res://*/DB.RobotData.ssdl|res://*/DB.RobotData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:w0bs9aso16.database.windows.net,1433;initial catalog=RDB;integrated security=False;user id=vlad@w0bs9aso16;password=djkoolherc1A;multipleactiveresultsets=True;connect timeout=30;encrypt=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RDBEntities3" connectionString="metadata=res://*/DB.RobotData.csdl|res://*/DB.RobotData.ssdl|res://*/DB.RobotData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:w0bs9aso16.database.windows.net,1433;initial catalog=RDB;integrated security=False;user id=vlad@w0bs9aso16;password=djkoolherc1A;multipleactiveresultsets=True;connect timeout=30;encrypt=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RDBEntities4" connectionString="metadata=res://*/DB.RobotData.csdl|res://*/DB.RobotData.ssdl|res://*/DB.RobotData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:w0bs9aso16.database.windows.net,1433;initial catalog=RDB;integrated security=False;user id=vlad@w0bs9aso16;password=djkoolherc1A;multipleactiveresultsets=True;connect timeout=30;encrypt=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>