@model Domain.Entities.Robot

<div class="well">

    @*todo: переделать картинку*@
    @*<div class="pull-left" style="margin-right: 10px">
        <img class="img-thumbnail" width="75" height="75"
             src="http://localhost:45534/Home/GetImage?programId=5"/>
    </div>*@
    <div class="pull-left" style="margin-right: 10px">
        <img class="img-thumbnail" width="75" height="75"
             src="http://exchange.parchment.com/wp-content/uploads/request-75x75.jpg" />
    </div>

    <h3>
        <strong>Robot #@Model.RobotID</strong>
        <span class="pull-right label label-primary">Some Information</span>
    </h3>

    <span class="lead"> More information</span>
</div>
