@model Domain.Entities.Robot

<div class="well" >
    <div class="pull-left" style="margin-right: 10px">
        @*картинка для робота по умолчанию*@
        <img class="img-thumbnail" width="75" height="75" src="@Url.Action("GetImage", "Home", new {imageId = 13})"/>
    </div>

    <h3>
        <strong>Robot #@Model.RobotID</strong>
        <span class="pull-right label label-primary">Some Information</span>
    </h3>

    <span class="lead"> More information</span>
    <div class="pull-right">
        <input type="button" class="btn btn-success" value="Installed Programs" id='@("robot" + @Model.RobotID)' />
    </div>
</div>