@model System.Collections.Generic.List<Store.ViewModels.MessageVM>

@{
    ViewBag.Title = "ShowAll";
}

<h2>Show All Messages</h2>

@foreach (var msg in Model)
{
    <h3> @msg.From - @msg.To :  @msg.Text</h3>
  <br>
}



