@model dynamic

@{
  //Layout = null;
}

<!DOCTYPE html>

<html>
<head class="lead">
    <h1>Program has been sent to robot<br></h1>
</head>
<body>
    <script>
    window.setTimeout(function () {
        window.location.href = 'ShowMyRobots';
    }, 2000);
    </script>
</body>
</html>