@model Store.Models.Robot.RobotCode

@{
  ViewBag.Title = "Send Program to Robot";
    var category = "";
}

<div class="panel">

    <div class="panel-heading">
        <h3>Send to Robot #@Model.RobotId</h3>
    </div>

    @using (Html.BeginForm("Edit", "Robot", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="panel-body">
        @Html.HiddenFor(m => m.RobotId)
            <div class="form-group">
                <label>
                    Program Code
                </label>
                @Html.TextArea("Code", null, new { @class = "form-control", rows = 15 })
            </div>
    </div>
        <div class="panel-footer">
            <input type="submit" value="Send" class="btn btn-primary" />
        </div>
    }
</div>