@using Store.Services
@model Store.Models.Home.PagedContentViewModel<Domain.Entities.Robot>

@{
    ViewBag.Title = "Robots";
}

<script src="~/Scripts/Robot/ShowMyRobots.js"></script>

<script>
    // задаем ссылки от робота на список программ для робота
    $(document)
        .ready(function() {
            @{
                foreach (var id in Model.PageContent.Select(x => x.RobotID.ToString()))
                {
                    var showRobotProgramUrl = Url.Action("ShowRobotPrograms", "Program", new {robotId = id}, Request.Url?.Scheme);
                    @:openRobotProgramsById('@id', '@showRobotProgramUrl');
                }
            }
        });
</script>

@foreach (var p in Model.PageContent)
{
    @Html.Partial("RobotSummary", p)
}

<div class="btn-group pull-right">
    @Html.FormPageLinks(Model.PagingInfo, x => Url.Action("ShowMyRobots", new {page = x}))
</div>
