@using Store.Services
@model Store.Models.Home.PagedContentViewModel<Domain.Entities.Robot>

@{
  ViewBag.Title = "Robots";
}

@foreach (var p in Model.PageContent)
{
@Html.Partial("RobotSummary", p)
}

<div class="btn-group pull-right">
    @Html.FormPageLinks(Model.PagingInfo, x => Url.Action("ShowMyRobots", new { page = x }))
</div>