
@*
    Информацию о том, какую категорию нужно выделить мы берем из статического поля контрера Admin
*@
@{

}
<div class ="row panel">

    @*для красоты временно*@
    <br> <br> <br> 

    @Html.RouteLink("Users", new
{
    controller = "Admin",
    action = "Index"
}, new
{
    @class = "btn btn-block btn-default btn-lg" + (@Robots.WebUI.Controllers.AdminController.categoryState == 0? " btn-primary" : "") })

    @Html.RouteLink("Robots", new
{
    controller = "Admin",
    action = "IndexRobot"
}, new
{
    @class = "btn btn-block btn-default btn-lg" + (@Robots.WebUI.Controllers.AdminController.categoryState == 1 ? " btn-primary" : "")
})

</div>
