@{
  var demo_pages = new[]
  {
        new {Text = "My Robots", Name = "Demo_MyRobots", Icon = "glyphicon glyphicon-flash"},
        new {Text = "My Diagrams", Name = "Demo_MyDiagrams", Icon = "glyphicon glyphicon-random" },
        new {Text = "Map", Name = "Demo_Map", Icon = "glyphicon glyphicon-map-marker" },
        new {Text = "Settings", Name = "Demo_Settings", Icon = "glyphicon glyphicon-cog" }
    };
}

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <h3><i class="glyphicon glyphicon-briefcase"></i> Toolbox</h3>
            <div class="panel-group" id="accordion">

                @foreach (var page in @demo_pages)
                {@:
                    {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <b>
                                    <span class="@page.Icon"></span>
                                    @Html.ActionLink(page.Text, page.Name, "Home", null, null)
                                </b>
                            </h4>
                        </div>
                    </div>
                    }
                }

            </div>
        </div>
    </div>
</div>